@font-face {
  font-family: 'SilkScreen';
  src: url('../fonts/slkscr-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Pokemon';
  src: url('../fonts/pokemon-font.woff') format('woff');
}

h1 {
  font-family: 'Pokemon';
  font-size: 40px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: whitesmoke;
  text-align: center;
  padding-top: 1.8rem;
}

canvas {
  position: absolute;
  min-width: 150px;
  min-height: 200px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 100%;
  background: url('../assests/backgrounds/static.jpg') center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/* ===============================
 * Canvas
==================================*/
#stage {
  width: 400px;
  height: 240px;
  position: relative;
  /* border: 2px solid whitesmoke; */
  overflow: hidden;
  margin: auto;
  display: grid;
  place-items: center;
  z-index: -1;
  bottom: 50px;
}

#player {
  z-index: 3;
}

#backgroundLayer {
  z-index: 1;
}

/* ==================================
 * utils
====================================*/
.hide {
  display: none !important;
}

.show {
  display: initial !important;
}

/* ==================================
 * Start Menu
===================================*/
.start-game-btn {
  margin: auto;
  padding: .2rem 1rem;
  position: relative;
  top: 1.75rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 6px;
}
.dialogue {
  /* font-smooth: never; */
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.45);
  border: 2px solid whitesmoke;
  color: #FFFFFF;
  font-family: 'SilkScreen';
  font-size: 1.16rem;
  font-weight: 500;
  line-height: 1.85;
  width: clamp(45ch, 50%, 55ch);
  top:45%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 5rem 2rem;
  position: absolute;
  z-index: 10;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .dialogue {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

/* ================================== 
  *  FOOTER 
 =================================== */
footer {
  padding-bottom: 4rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left:0;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
}

i {
  color: whitesmoke;
  font-size: 2rem;
}

